body {
    margin: 0;
    padding: 0;
    background-image: url("../img/pattern.jpg");
}

.container {
    display: block;
    width: 1000px;
    height: 300px;
    margin: 20px auto;
    padding-top: 20px;
    box-sizing: border-box;
    background-color: white;
    position: relative;
}

section {
    display: block;
    position: relative;
    width: 960px;
    height: 260px;
    margin: 0 auto;
    border: grey;
    border-style: solid;
    box-sizing: border-box;
    padding: 20px;
}

.container section h1 {
    text-align: center;
}

.bold {
    font-weight: bold;
}

ol {
    line-height: 25px;
}

.link {
    display: block;
    width: 150px;
    height: 5opx;
    margin: 20px auto;
}