body {
    margin: 0;
    padding: 0;
    background-image: url("../img/pattern.jpg");
}

.container {
    display: block;
    width: 1000px;
    height: 600px;
    margin: 20px auto;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: white;
}

section {
    display: block;
    position: relative;
    width: 960px;
    height: 560px;
    margin: 0 auto;
    border: grey;
    border-style: solid;
    box-sizing: border-box;
    padding: 20px;
}
h1 {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.long {
    width: 750px;
}

ul {
    padding: 0;
}

.link {
    display: block;
    width: 150px;
    height: 5opx;
    margin: 20px auto;
}