body {
	margin: 0;
	padding: 0;
	top: 0;
	background-image: url('../img/pattern.jpg');
}

header {
	display: block;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 60px;
	top: 0;
	background-color: white;
}

nav {
	display: block;
	position: absolute;
	width: 300px;
	height: inherit;
	top: 0;
	right: 0;
}

nav ul li {
	display: inline-block;
	text-decoration: none;
	margin: 0 10px;
	line-height: 30px;
}

section {
	display: block;
	position: relative;
	margin: 0 auto;
	top: 70px;
	width: 1000px;
	height: 800px;
	padding-top: 20px;
	background-color: white;
	box-sizing: border-box;
}

section #article-list {
	display: block;
	width: 900px;
	position: relative;
	height: 650px;
	margin: 0 auto;
}

section h1 {
	text-align: center;
}

#article-list a {
	text-decoration: none;
}

footer {
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: black;
	position: relative;
}

h5 {
	color: white;
	margin: 0;
	line-height: 50px;
	text-align: center;
	bottom: 0;
}